.card {
    width: 30%;
    height: auto;
    padding: 10px;
    color: black;
    transition: 0.5s;
    margin-bottom: 20px;
    text-decoration: none;
    object-fit: cover;
    position: relative;
}
.card img{
    height: 400px;
}