.shop__wrapper {
    width: 80%;
    padding: 50px 0;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
}

.cards {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}


.count{
    position:absolute;
    width: 40px;
    height: 40px;
    background: grey;
    border: none;
    border-radius: 50%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: wheat;

}

.card:hover {
    transform: translate(2px, 2px);
}

.card img {
    width: 100%;
    display: block;
}
.shop__lists{
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 10px;
}
.shop__lists li{
    padding: 19px 65px;
    border: 2px solid black;
}
.shop__lists li.active{
    background-color: black;
    color: wheat;
}